summary {
    user-select: none;
    cursor: pointer;
    padding: 12px;
}

details > ul > li{
    padding: 2px 0px;
    margin-top: 2px;
    text-decoration: none;
}

a:hover {
    color: grey;
}

ul {
    list-style: none;
    padding-left: 10px;
}