.container {
  position: relative;
  color: #000;
  display: block;
  font-size: 1rem;
  border: 1px solid #c0b8b8;
  --border-radius: 0.3rem;
  border-radius: var(--border-radius);
  width: 100%;
  padding: 0.3rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.pill {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 4px 3px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 0.4rem;
  border: 1px solid #e3d1e1;
}

.pill span {
  text-align: center;
  font-size: 1rem;
  line-height: 1rem;
}

.singleDelete {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #00000000;
  width: 20px;
  height: 20px;
  margin-left: 3px;
}

.container .clearAllButton {
  text-align: center;
  margin: 4px 3px;
  border-radius: 5px;
  background-color: rgb(132, 4, 4);
  color: white;
  padding: 0.4rem;
  border: 1px solid #e3d1e1;
}

.textInput {
  border: none;
  font-size: 1rem;
  padding: 0.7rem 0.3rem;
  width: 100%;
  border-radius: var(--border-radius);
  outline: none;
}

.options {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  max-height: 10rem;
  overflow-y: scroll;
  border: 1px solid #c0b8b8;
  background-color: #ffff;
}

.container:not(:focus-within) .options {
  display: none;
}

.option {
  text-align: left;
  background-color: #00000000;
  border: none;
  border-bottom: 1px solid #c0b8b8;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  padding: 1rem 0.3rem;
}

.option:hover,
.active {
  background-color: #c0b8b8;
}

.input:focus {
  outline: none;
  border-radius: 5px;
}

.clearAllButton {
  width: fit-content;
  padding: 0.1rem 1rem;
}
