.container {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  gap: 1rem;
  width: fit-content;
}

.container .box {
  width: 50px;
  aspect-ratio: 1/1;
  font-size: 1.5rem;
  text-align: center;
}
