.container {
  position: relative;
  width: fit-content;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12.6429px;
  line-height: 17px;
  color: #27262c;

  background: #ffffff;
  border: 1.05357px solid #ffffff;
  border-radius: 4.21429px;
}

.list {
  position: absolute;
  display: none;
  border-radius: 0.25rem;
  border: 1px solid #80808035;
  width: 100%;
  background-color: #ffffff;
  z-index: 2;
}

.focusStealer {
  display: none;
}

.container:hover .list {
  display: block;
}

.disappear {
  display: none;
}

.container > img {
  position: relative;
}

.searchInput {
  border: none;
  height: 100%;
  position: relative;
  outline: none;
  padding: 4px;
}

.searchInput::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12.6429px;
  line-height: 17px;
  color: #2b3b30;
}

.item {
  cursor: pointer;
  display: block;
  padding: 0.4rem;
  border: 1px solid #80808035;
}

.item:hover {
  background-color: rgba(128, 128, 128, 0.097);
}
