.container {
  display: grid;
  align-items: center;
  position: relative;
}

.container .labelText {
  font-family: 'Public Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #151646;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icon {
  position: absolute;
  right: 1rem;
  top: 0.9rem;
  width: 1.25rem;
  height: 1.25rem;
  grid-row: 2;
}

.input {
  height: 48px;
  background: #ffffff;
  color: #4f4f4f;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  grid-row: 2;

  font-family: 'Public Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 0.2rem 3rem 0.2rem 1rem;
}

.input:focus {
  outline: 2px solid #15164675;
}

.input:read-only + .icon {
  display: none;
}

.input:invalid + .icon {
  display: block;
}

.input:valid + .icon {
  display: none;
}

.input:invalid ~ .errorMessage {
  display: inline-block;
  color: #ff7171 !important;
}

.input::placeholder {
  font-family: 'Public Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #bdbdbd;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.errorMessage {
  display: none;
  grid-row: 3;
  text-align: left;
  color: currentColor;

  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13.051px;
  line-height: 20px;
  width: 100%;
}
